@import '~antd/dist/antd.css';


.App-header {
  background-color: #000;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-ticker {
  font-size: medium;
}

.my-number-input {
  text-align: right;
}

.affix-hack-noinline {
  display: inline
}

.affix-hack-noinline div {
  display: inline
}

.ant-table-row {
    background: #fff
}